@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
}
:root
{
   --blue: #287bff;
   --white: #fff;
   --gray: #f5f5f5;
   --black1: #222;
   --black2: #999;
   --red: #DC143C;
}
body{
   overflow-x: hidden;
}

header {
   position: relative;
   padding: 10px 50px;
   text-align: center;
   left: 0;
   font-size: 200%;
   width: 100%;
   color: white;
   background-color: #222;
}

.howToButton
{
   position: absolute;
   left: 5%;
   top: 35%;
}

.instruction{
   position: relative;
   top: 20%;
   left:0%
}

.currentStep{
   margin-top: 10px;
   position: relative;
}

.currentInstruction{
   margin-top: 20px;
   position: relative;
}

.search
{
   position: absolute;
   width: 350px;
   left: 80%;
   top: 35%;
}

.search label{
   position: relative;
   width: 100%;
}

.search label input
{
   width: 100%;
   height: 40px;
   border-radius: 40px;
   padding: 5px 20px;
   padding-left: 35px;
   font-size: 18px;
   outline: none;
   border: 1px solid var(--black2);
}

.search label ion-icon
{
   position: absolute;
   top: 30%;
   left: 10px;
   font-size: .75em;
   color: black;
}

.container
{
   position: relative;
   width: 100%;
   z-index: auto;
}
.navigation
{
   position: relative;
   top: 0;
   left: 0;
   width: 300px;
   height: 90.35vh;
   background: var(--red);
   border-left: 10px solid var(--red);
   transition: 0.5s;
   overflow: hidden;
}

.navigation.active
{
   width: 130px;
}

.navigation h2{
   position: relative;
   font-size: 150%;
   color: white;
   padding: 10px 0 5px 0;
}
.navigation h3 {
   position: relative;
   color: white;
   text-decoration: underline;
   padding: 10px 0 5px 0;
   font-size: 110%;
   left: -10px;
}

.collapsible {
  background-color:var(--red);
  color: var(--black1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #b61031;
  width: 70%;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--red);
}

.navigation ul
{
   position: absolute;
   top: 40px;
   left: 10px;
   width: 100%;
   line-height: .65em;
   color: black;
}

.lists.active {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.navigation ul li
{
   position: relative;
   width: 90%;
   padding-top: 9px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   font-size: 90%;
   cursor: pointer;
   line-height: 15px;
}

.lists.active {
   opacity: 0.0;
}

.navigation ul li:hover
{
   background: var(--white);
   padding: 5px;
   border-radius: 20px;
   width: fit-content;
}

/* curve outside */

.navigation ul li:hover a::before
{
   content: '';
   position: absolute;
   right: 0;
   top: -50px;
   width: 50px;
   height: 50px;
   background: #f00;
   border-radius: 20px;
   box-shadow: 35px 35px 0 10px var(--white);
   pointer-events: none;   
}
.navigation ul li:hover a::after
{
   content: '';
   position: absolute;
   right: 0;
   top: -50px;
   width: 50px;
   height: 50px;
   background: #f00;
   border-radius: 20px;
   box-shadow: 35px 35px 0 10px var(--white);
   pointer-events: none;   
}

/* main */
.main
{
   position: absolute;
   width: calc(100% - 300px);
   top: 0;
   left: 300px;
   height: 100%;
   background: white;
   transition: 0.5s;
}

.main.active
{
   width: calc(100% - 80px);
   left: 130px;
}

.topbar
{
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.toggle
{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 60px;
   height: 60px;
   background: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.5em;
   cursor: pointer;
   z-index: 20;
}

.main .iframe 
{
   position: relative;
   top: 0px;
   left: 0;
   height: 100%;
   margin: 0;
}

/* Popup container - can be anything you want */
.popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* The actual popup */
 .popup .popuptext {
   position: absolute;
   visibility: hidden;
   height: 1050%;
   width: 160px;
   background-color: var(--white);
   color: var(--black1);
   text-align: center;
   border-radius: 20px;
   padding: 8px 0;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
 }

.popup .popuptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 
 /* Toggle this class - hide and show the popup */
 .popup .show {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
 }

.map {
   position: relative;
   height: 100%;
   z-index: 0;
}

.instructions {
   position: absolute;
   right: 0;
   bottom: 0;
   width: fit-content;
   height: fit-content;
   background-color: white;
   z-index: 6;
   padding-left: 25px;
}

/* responsive design */
@media (max-width: 991px)
{
   .navigation
   {
      left: -300px;
   }
   .navigation.active
   {
      width: 300px;
      left: 0;
      display: none;
   }
   .main
   {
      width: 100%;
      left: 0;
   }
   .main.active
   {
      left: 300px;

   }
   .cardBox
   {
      grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width: 768px)
{
   .details
   {
      grid-template-columns: repeat(1,1fr);
   }
   .recentOrders
   {
      overflow-x: auto;
   }
   .status.inprogress
   {
      white-space: nowrap;
   }
}

@media (max-width: 480px)
{
   .cardBox
   {
      grid-template-columns: repeat(1,1fr);
   }
   .cardHeader
   {
      font-size: 20px;
   }
   .user
   {
      min-width: none;
   }
   .navigation
   {
      width: 100%;
      left: -100px;
      z-index: 1000;
   }
   .navigation.active
   {
      width: 100%;
      left: 0;
      display: none;
   }
   .toggle
   {
      z-index: 10001;
   }
   .main.active .toggle
   {
      position: fixed;
      right: 0;
      left: inherit;
      color: var(--white);
   }
}